{% extends "main.j2" %}

{% block title %}38C - Database Administration{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
  <h1>{{errorType}}</h1>
  <p>{{errorMessage}}</p>
  <a href="/">Return Home</a>
  
{% endblock %}  