<!DOCTYPE html>
<html>
<head>
<title>Add Purchases</title>
</head>
<header>

<h1>Three Eight Cycles Purchases</h1>
<nav>
  <div>
      <ul>
          <li> 
            <a href="/">Home</a> 
            <a href="/purchases">Purchases</a> 
            <a href="/items">Items</a> 
            <a href="/customers">Customers</a>
            <a href="/employees">Employees</a> </li>
      </ul>
  </nav>
</header>
<p></p>
 <body>   
   <h2>Purchase Record Successfully Added</h2>
   <p> <a href="/purchases">Return</a></p>
</body>
</html>