<!doctype html>
<html lang="en">
  <head>
    {% block head %}
    {# Required meta tags #}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {# Bootstrap CSS #}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    {# Supplementary CSS #}
    <link href="../static/stylesheet.css" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='38c.png') }}">
    <title>{% block title %}{% endblock %}38 Cycles</title>
    {% endblock %}
  </head>


<body>

    {# Optional JavaScript #}
    {# jQuery first, then Popper.js, then Bootstrap JS #}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    {# Our addItems JS #}
    <script type='text/javascript' src="../static/addItems.js"></script>
    <script type='text/javascript' src="../static/retrieveValidation.js"></script>
    <script type='text/javascript' src="../static/updatePreselectOptions.js"></script>


    <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">38 Cycles</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
        <li class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/employees">Employees</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/customers">Customers</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/purchases">Purchases</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/items">Items</a>
        </ul>
    </div>
    </nav>
    
    {# Set variables for re-used elements (passed to other templates) #}
    {# ---------------------------------------------- #}
    {# Search button for any query #}
    {% set searchButton %}
        <div class="form-row">
            <button type="submit" class="btn btn-outline-primary">Search</button>
        </div>
    {% endset %}

    {# Submit button #}
    {% set submitButton %}
        <div class="form-row">
            <button type="submit" class="btn btn-outline-primary">Submit</button>
        </div>
    {% endset %}

    {# Render main page #}
    {# ---------------------------------------------- #}
    <div id="content">
    {% block content %}
    <h1>Database Admin</h1>
        <hr>
        <h2>Welcome</h2>
        <br>
        <p>Welcome to 38 Cycles database administration.</p>
        <p>Select the database table from the menu above to get started.</p>
        <p>Please don't break the database. 🤦</p>
    {% endblock %}
    </div>

    <div id="footer">
        {% block footer %}
        <hr>
        Copyright &copy; 2022 Three Eight Cycles
        {% endblock %}
    </div>

</body>
</html>